@{
    ViewBag.Title = "SkyLink";
}

<main>
    <section class="row" aria-labelledby="welcomeTitle">
        <h1 id="welcomeTitle" class="text-center">Welcome to SkyLink</h1>
        <p class="lead text-center">Easily book your flights, manage bookings, and access admin functionalities.</p>
        <p class="text-center">
            <!-- Agent Login -->
            @Html.ActionLink("Agent Login", "Login", "Agent", null, new { @class = "btn btn-info btn-lg" })

            <!-- User Login -->
            @Html.ActionLink("User Login", "Login", "User", null, new { @class = "btn btn-success btn-lg" })

            <!-- Admin Login -->
            @Html.ActionLink("Admin Login", "Login", "Admin", null, new { @class = "btn btn-warning btn-lg" })
        </p>
    </section>
</main>
